<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="target" value="C:\local_agents"/>
    <add key="estream" value="C:\eStream\SQLAccounting\DB"/>
    <add key="datespan" value="60"/>
    <add key="dbuser" value="SYSDBA"/>
    <add key="dbpassword" value="masterkey"/>
    <add key="uuid" value="420443e1-ccdf-445d-afd9-985b3ea6137b"/>
    <add key="api" value="http://localhost:3000/external-bill"/>
    <add key="payments" value="http://localhost:3000/adyen-payment"/>
    <add key="receipts" value="http://localhost:3000/import-receipts"/>
  </appSettings>
</configuration>