<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="target" value="C:\local_agents"/>
    <add key="estream" value="C:\eStream\SQLAccounting\DB"/>
    <add key="datespan" value="7"/>
    <add key="dbuser" value="SYSDBA"/>
    <add key="dbpassword" value="masterkey"/>
    <add key="uuid" value="edde2df7-0251-48f6-b22c-bf3f0bd1a5f2"/>
    <add key="api" value="https://dhome-api-prod.dhome.io/v1.0/external-bill"/>
    <add key="payments" value="https://dhome-api-prod.dhome.io/v1.0/adyen-payment"/>
    <add key="receipts" value="https://dhome-api-prod.dhome.io/v1.0/import-receipts"/>
    <add key="logs" value="https://dhome-api-prod.dhome.io/v1.0/billexport-log"/>
  </appSettings>
</configuration>